/* import Inter font, pentru a fi folosit in aplicatie */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

/* baza css-ului */
:root {
  /* salvam culorile principale in variabile css */
  --black: #2d2e2e;
  --dark-green: #3a4f39;
  --grey: #ababab;
  --light-grey: #f6f6f6;
  --white: #ffffff;
  --light-green: #eff6f3;
  --yellow-green: #f8d254;
  --green: #a0cd9e;

  /* salvam imainile principale in variabile css */
  --logo-url: url("https://www.kadencewp.com/wp-            content/uploads/2020/10/alogo-4.png");
  --photo-url: url("https://images.unsplash.com/photo-1538983314533-980fb0ae24d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
  --background-url: url("https://c0.wallpaperflare.com/preview/665/924/1/mood-trentino-landscape-mountain.jpg");
  --avatar-url: url("https://t4.ftcdn.net/jpg/02/19/63/31/360_F_219633151_BW6TD8D1EA9OqZu4JgdmeJGg4JBaiAHj.jpg");

  /* Definim textul de baza */
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
p {
  margin: 0;
}

body {
  margin: 0;
}

/* Definim stilul h1 */
h1 {
  font-size: 50px;
  font-weight: 600;
}

/* Definim stilul pentru text ce se va folosi in meniuri */
.menu-title {
  font-size: 32px;
  font-weight: 600;
}

/* Definim textul bold */
b,
strong {
  font-weight: 600;
}

.caption {
  font-size: 12px;
  font-weight: 400;
}

/* Butonul default */
button {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  padding: 13px 25px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
}

/* Variante de butoane */
.btn-primary {
  border: 0;
  background: var(--dark-green);
  color: var(--white);
}

.btn-primary:hover {
  background-color: #283A27;
}

.btn-secondary {
  border: 1px solid var(--dark-green);
  background: var(--white);
  color: var(--dark-green);
}

.btn-secondary:hover {
  border-color: #213220;
  color: #213220;
}

.btn-large {
  padding: 17px 30px;
}

.btn-middle {
  padding: 13px 25px;
}

.btn-small {
  padding: 10px 20px;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Stilul input default */
input {
  display: flex;
  width: 510px;
  padding: 17px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--light-grey);
  color: var(--grey);
  border: 2px solid var(--light-grey);

}

input:hover {
  border: 2px solid var(--green);
}

/* Input cu buton in dreapta */
/* 
  <div class="input-button">
    <input />
    <button />
  </div>
*/
.input-button {
  display: flex;
}

/* Stil special pentru elemente din interiorul .input-button */
.input-button>input {
  border-radius: 4px 0px 0px 4px;
  border-width: 2px 0px 2px 2px;
  width: 100%;
}

.input-button>button {
  border-radius: 0px 4px 4px 0px;
}