.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--photo-url), lightgray 50% / cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.buttons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.buttons button {
  width: 205px;
}

.page h1 {
  color: var(--white);
}

.page p {
  color: var(--white);
}

.cta-form {
  max-width: 511px;
  width: 100%;
  height: 56px;

}